<!-- <h1>{{data}}</h1>
<button (click) = displayData()>Console Data</button>
<button (click) = "alertFunction('Hi')">Be Alert</button>
<input type = "text" #box>
<button (click)=" alertdata(box.value)">Old Message</button> -->
<!-- <input type = "text" #box>
<button (click)=" displaydata(box.value)">New Message</button>
<h1>{{value}}</h1> -->
<!-- <input type = "text" #box
(keyup) = "displaydata($event.target.value)">
<h1>{{enteredval}}</h1> -->
<h1 (mouseover) = "mouseoverEvent('abc')"
(mouseleave)=" mouseLeaveEvent()" style="background: skyblue;">Final Prog</h1>
{{enteredval}}